.signup {
  padding-top: 1px;
}

body {
  background-color: #1C2833;
  color: #fff;
}

#wholeThing {
  margin: 0px;
}

#head {
  background-color: #17202A;
}

.deckListItem {
  height: 25px;
}

.card-body {
  background-color: #1a1919;
}

.card {
  display: inline-flex;
  background-color: #1a1919;
}
